* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.language-main-container {
    padding-top: 5rem;
    display: flex;
    height: 100%; 
    width: 100%;
    overflow: hidden;
    background-color: #000;
}

.language-wrapper {
    background-image: url('../Images/NigeriaImage.jpg');
    background-size: cover; 
    background-position: center; 
    flex-basis: 50%;
    background-repeat: no-repeat; 
}
.language-inner-wrapper{
    width: 80%;
    height: 90%;
    margin:2rem auto;
}
.language-wrapper .language-header-texts{
    background-color: var(--Burgundy);
    color: var(--textforburgundy);
    padding:1.5rem 2rem 1rem 2rem;
    opacity: 0.9;
}

.language-inner-wrapper .language-form{
    background-color: var(--textforburgundy);
    padding:1.5rem 2rem 2rem 2rem;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.language-form label{
     color: #000;
}
.language-form input{
    outline: none;
}
.language-form .language-btn{
    height: 3.5rem;
    background-color: var(--Burgundy);
    color: var(--textforburgundy);
    font-size: 1.2rem;
    border-radius: 1rem;
    margin-top: 1rem;
    border: var(--bgColorTwo) 2px solid;
}
.language-wrapper-two {
    background-image: url('../Images/internationalLanguage.jpg');
    background-size: contain; 
    background-position: center; 
    flex-basis: 50%;   
    background-repeat: no-repeat; 
}
.language-wrapper-two .language-wrapper-two-inner{
    background-color: rgba(0, 0, 0,0.7);
    padding:0 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--textforburgundy);
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
.language-wrapper-two-inner.fade-in {
    opacity: 1; 
} 
  .language-wrapper-two-inner.fade-out {
    opacity: 0; 
  }
.language-wrapper-two .language-wrapper-two-inner p{
    font-size: 1.2rem;
}
.lesson-days-main-wrapper{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin:1.3rem 0 ;
}
.lesson-days-wrapper input{
    width: 1.6rem !important;
    height: 1.6rem !important;
}
.lesson-days-wrapper{
    display: flex;
    gap: 0.4rem;
}
select option{
    background-color: var(--Burgundy);
    color: var(--textforburgundy);
}
.language-form-container{
    padding-top:0 4.7rem;
    background-color:#FFF8DC;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
    #language-form{
    margin:2rem auto;
    padding: 1rem 2rem;
    max-width: 20rem;
    width: 100%;
    min-height: 100%;
    transition: top 0.5s; 
    background-color: #fff;
    border: var(--Burgundy) 2px solid;
    border-radius: 1.9rem;
    box-shadow: 0 0 10px rgba(128, 0, 32, 0.6);
    box-sizing: border-box;
  }
  #language-form h4 {
    padding-top: 0.8rem;
    font-weight: 600;
    color: var(--Burgundy);
    text-align: center;
    font-size: 1.5rem; 
    text-decoration: underline;
  }
  #language-form   .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-top: 1rem;
  }
  #language-form  .input-wrapper .input-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  #language-form  .input-wrapper .input-container label {
    font-size: 1rem; 
    font-weight: 600;
  }
  #language-form  .input-wrapper .input-container input {
    height: 2.8rem !important;
    width: 100%;
    border-radius: 0.7rem;
    border: 0.8px #dce5c9 solid;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  #language-form  .input-wrapper #form-btn {
    margin-top: 0.3rem;
    height: 2.8rem !important;
    background-color: var(--Burgundy);
    border-radius: 0.7rem;
    color: var(--textforburgundy);
    border: none;
  }
  
  #language-form  .log-in-container {
    display: flex;
    padding-top: 0.7rem;
    justify-content: center;
  }
  
  #language-form .log-in-container p {
    margin-right: 0.3rem;
  }
  #language-form  .log-in-container a {
    text-decoration: none;
    color: var(--Burgundy);
    font-weight: 600;
  }
  
  #language-form  .log-in-container a:hover {
    color: var(--bgColorTwo);
  }
  #language-form .error{
    color: var(--Burgundy);
  }